<a href="https://colab.research.google.com/github/Gus-1003/ENEM_2021-Data_analysis/blob/main/An%C3%A1lise_Geral_Itens_Prova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Geral_Itens_Prova

## Import de libs e ferramentas:

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/MyDrive/

Mounted at /content/drive/
/content/drive/MyDrive

## 1.Análise Exploratoria

In [37]:
# ler dados de interesse
dados = pd.read_csv('/content/drive/MyDrive/PIBIC-ENEM2021-Gustavo_Maciel/Base de Dados/ITENS_PROVA_2021.csv', encoding='latin1', delimiter=';')

In [38]:
display(dados)

,CO_POSICAO,SG_AREA,CO_ITEM,TX_GABARITO,CO_HABILIDADE,IN_ITEM_ABAN,TX_MOTIVO_ABAN,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,TX_COR,CO_PROVA,TP_LINGUA,IN_ITEM_ADAPTADO
0,102,CN,62293,B,5.0,0,NaN,3.00296,1.17427,0.16918,AZUL,909,NaN,NaN
1,122,CN,82265,C,8.0,0,NaN,2.63278,0.67271,0.32905,AZUL,909,NaN,NaN
2,125,CN,81640,B,21.0,0,NaN,1.70410,1.93672,0.18178,AZUL,909,NaN,NaN
3,95,CN,117843,A,27.0,0,NaN,4.13911,0.76309,0.13487,AZUL,909,NaN,NaN
4,96,CN,63600,B,15.0,0,NaN,2.78598,1.12828,0.24608,AZUL,909,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5360,177,MT,117672,C,29.0,0,NaN,1.63194,0.42624,0.17509,LARANJA,1042,NaN,1.0
5361,178,MT,111508,E,30.0,0,NaN,2.55391,2.43617,0.11117,LARANJA,1042,NaN,1.0
5362,179,MT,33176,D,3.0,0,NaN,3.00882,1.91205,0.13426,LARANJA,1042,NaN,1.0
5363,180,MT,47348,E,18.0,0,NaN,2.89510,1.31087,0.20170,LARANJA,1042,NaN,1.0
5364,136,MT,60342,B,1.0,0,NaN,2.20341,1.59108,0.24863,LARANJA,1042,NaN,1.0

In [33]:
# dados.head()

In [34]:
# dados.tail()

In [23]:
dados.shape

(5365, 14)

In [21]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5365 entries, 0 to 5364
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CO_POSICAO        5365 non-null   int64
 1   SG_AREA           5365 non-null   object
 2   CO_ITEM           5365 non-null   int64
 3   TX_GABARITO       5365 non-null   object
 4   CO_HABILIDADE     5352 non-null   float64
 5   IN_ITEM_ABAN      5365 non-null   int64
 6   TX_MOTIVO_ABAN    66 non-null     object
 7   NU_PARAM_A        5299 non-null   float64
 8   NU_PARAM_B        5299 non-null   float64
 9   NU_PARAM_C        5299 non-null   float64
 10  TX_COR            5365 non-null   object
 11  CO_PROVA          5365 non-null   int64
 12  TP_LINGUA         290 non-null    float64
 13  IN_ITEM_ADAPTADO  1295 non-null   float64
dtypes: float64(6), int64(4), object(4)
memory usage: 586.9+ KB

In [26]:
dados.isna().sum()

CO_POSICAO             0
SG_AREA                0
CO_ITEM                0
TX_GABARITO            0
CO_HABILIDADE         13
IN_ITEM_ABAN           0
TX_MOTIVO_ABAN      5299
NU_PARAM_A            66
NU_PARAM_B            66
NU_PARAM_C            66
TX_COR                 0
CO_PROVA               0
TP_LINGUA           5075
IN_ITEM_ADAPTADO    4070
dtype: int64

In [24]:
dados.describe()

,CO_POSICAO,CO_ITEM,CO_HABILIDADE,IN_ITEM_ABAN,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,CO_PROVA,TP_LINGUA,IN_ITEM_ADAPTADO
count,5365.000000,5365.000000,5352.000000,5365.000000,5299.000000,5299.000000,5299.000000,5365.000000,290.000000,1295.0
mean,88.135135,86048.197950,15.165546,0.012302,2.126507,1.185169,0.175469,972.151911,0.500000,1.0
std,53.187032,33034.529877,8.644599,0.110240,0.726732,0.823139,0.057618,55.044066,0.500864,0.0
min,1.000000,8219.000000,1.000000,0.000000,0.274140,-1.419310,0.007470,879.000000,0.000000,1.0
25%,42.000000,66689.000000,8.000000,0.000000,1.576720,0.590330,0.138870,910.000000,0.000000,1.0
50%,88.000000,89864.000000,15.000000,0.000000,2.100510,1.192860,0.177000,984.000000,0.500000,1.0
75%,134.000000,112132.000000,23.000000,0.000000,2.651520,1.716370,0.210680,1018.000000,1.000000,1.0
max,180.000000,126594.000000,30.000000,1.000000,4.139110,4.967880,0.338800,1052.000000,1.000000,1.0

In [25]:
dados.describe(include='object')

,SG_AREA,TX_GABARITO,TX_MOTIVO_ABAN,TX_COR
count,5365,5365,66,5365
unique,4,6,2,7
top,LC,B,Não permitiu a convergência do algoritmo de es...,AMARELA
freq,1450,1336,41,1850

In [30]:
# Áreas de conhecimentos:
dados["SG_AREA"].value_counts()

LC    1450
CN    1305
CH    1305
MT    1305
Name: SG_AREA, dtype: int64

In [31]:
dados["TX_GABARITO"].value_counts() # X - pode ser uma coluna cancelada

B    1336
A    1175
C     995
D     948
E     886
X      25
Name: TX_GABARITO, dtype: int64

In [32]:
dados["IN_ITEM_ABAN"].value_counts()

0    5299
1      66
Name: IN_ITEM_ABAN, dtype: int64

In [29]:
dados["TP_LINGUA"].value_counts() # Linguagem da prova estrangeira

0.0    145
1.0    145
Name: TP_LINGUA, dtype: int64